name: release
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build
          python3 -m build
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist/*.tar.gz
            dist/*.whl
  publish-to-pypi:
    name: upload release to PyPI
    if: startsWith(github.ref, 'refs/tags/v') # only publish on tag pushes
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/p/bubble-data-api-client
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
